<!DOCTYPE html>
<html>

<head>
  {%- block head %}
  <!--[if IE]>
  <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  <script src="http://css3-mediaqueries-js.googlecode.com/svn/trunk/css3-mediaqueries.js"></script>
  <![endif]-->
  <meta charset="utf-8" />
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-87972162-3"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-87972162-3');
  </script>
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  {%- block robots %}{% endblock robots %}
  <meta name="keywords" content="{{contents.keyword}}" />
  <meta name="description" content="{{contents.description}}" />
  <title>{% block title %}{% endblock title %}</title>
  <meta name="theme-color" content="#4169e1">
  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:description" content="{{contents.description}}">
  <meta name="twitter:title" content="{{info.name}}">
  <meta name="twitter:url" content="{{info.url}}{% if lang != 'ja' %}/{{lang}}{% endif %}">
  <meta name="twitter:image" content="{{info.url}}/static/ogp-image.png">
  <meta name="twitter:domain" content="{{info.url}}{% if lang != 'ja' %}/{{lang}}{% endif %}">
  <meta name="twitter:creator" content="@{{info.twitter}}">
  <meta name="twitter:site" content="@{{info.twitter}}">
  <meta property="fb:app_id" content="131454090858604">
  <meta property="og:type" content="website">
  <meta property="og:description" content="{{contents.description}}">
  <meta property="og:title" content="{{info.name}}">
  <meta property="og:url" content="{{info.url}}{% if lang != 'ja' %}/{{lang}}{% endif %}">
  <meta property="og:image" content="{{info.url}}/static/ogp-image.png">
  <meta property="og:site_name" content="{{info.name}}">
  <meta property="og:locale" content="ja_JP">
  {#- alternate の content には ISO 639-1 言語コード及び ISO 3166-1 国コードを用いる #}
  {%- for i in info.language_list if i.locale != 'ja_Ja' %}
  <meta property="og:locale:alternate" content="{{i.locale}}">
  {%- endfor %}
  {#- 他に対応している言語のページを載せる #}
  {%- for i in info.language_list if i.code != lang %}
  <link rel="alternate" hreflang="{{i.code}}" href="{{info.url}}/{{i.code}}">
  {%- endfor %}
  <link rel="apple-touch-icon" sizes="57x57" href="../static/apple-icon-57x57.png">
  <link rel="apple-touch-icon" sizes="60x60" href="../static/apple-icon-60x60.png">
  <link rel="apple-touch-icon" sizes="72x72" href="../static/apple-icon-72x72.png">
  <link rel="apple-touch-icon" sizes="76x76" href="../static/apple-icon-76x76.png">
  <link rel="apple-touch-icon" sizes="114x114" href="../static/apple-icon-114x114.png">
  <link rel="apple-touch-icon" sizes="120x120" href="../static/apple-icon-120x120.png">
  <link rel="apple-touch-icon" sizes="144x144" href="../static/apple-icon-144x144.png">
  <link rel="apple-touch-icon" sizes="152x152" href="../static/apple-icon-152x152.png">
  <link rel="apple-touch-icon" sizes="180x180" href="../static/apple-icon-180x180.png">
  <link rel="shortcut icon" href="../static/favicon.ico" />
  <link rel="stylesheet" href="../static/style.css" />
  {#- Web application manifest #}
  <link rel="manifest" href="../static/manifest.json">
  <link href="https://fonts.googleapis.com/css?family=Cinzel" rel="stylesheet">
  {%- endblock %}
  {%- if lang == 'ru' %}
  <style>
    body {
      font-family: sans-serif;
    }
  </style>
  {%- endif %}
  {%- if lang == 'ru' %}
  {#- VK #}
  <script type="text/javascript" src="https://vk.com/js/api/share.js?95" charset="windows-1251"></script>
  {%- endif %}
  {#- Google plus #}
  <script src="https://apis.google.com/js/platform.js" async defer>
    {lang: '{{lang}}'}
  </script>
</head>

<body>
  <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
  <script>
    (adsbygoogle = window.adsbygoogle || []).push({
      google_ad_client: "ca-pub-7611852587780285",
      enable_page_level_ads: true
    });
  </script>
  {#- PWA #}
  <script>
  window.addEventListener('load', function() {
    if ('serviceWorker' in navigator) {
      navigator.serviceWorker.register("../static/serviceWorker.js")
      .then(function(registration) {
        console.log("serviceWorker registed.");
      }).catch(function(error) {
        console.warn("serviceWorker error.", error);
      });
    }
  });
  </script>
  <div class="header">
    <header>
      <div class="contents-width">
        <img class="header__icon" src="../static/icon.jpg" />
        <h1 class="header__title">
          <a class="header__link" href="{{info.url}}">{{info.name}}</a>
        </h1>
      </div>
    </header>
  </div>
  {% block content %}{% endblock %}
  {#- Facebook SDK #}
  <div id="fb-root"></div>
  <script>(function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = 'https://connect.facebook.net/{% for i in info.language_list if i.code == lang %}{{i.locale}}{% endfor %}/sdk.js#xfbml=1&version=v2.11';
    fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));</script>
  {#- Twitter #}
  <script>window.twttr = (function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0],
      t = window.twttr || {};
    if (d.getElementById(id)) return t;
    js = d.createElement(s);
    js.id = id;
    js.src = "https://platform.twitter.com/widgets.js";
    fjs.parentNode.insertBefore(js, fjs);

    t._e = [];
    t.ready = function(f) {
      t._e.push(f);
    };

    return t;
  }(document, "script", "twitter-wjs"));</script>
  {#- each sns button #}
  <div class="contents-width">
    <div class="sns">
      <p class="sns__p">LET'S SHARE THIS APP!!</p>
      <div class="sns__button sns__button--padding-top">
        <div class="fb-like"
          data-href="https://fb.me/enicy.official"
          data-layout="button_count"
          data-action="like"
          data-size="small"
          data-show-faces="true"
          data-share="true">
        </div>
      </div>
      {#- <div class="sns__button sns__button--padding-top">
        <a href=”fb-messenger://share/?link= https%3A%2F%2Fdevelopers.facebook.com%2Fdocs%2Fsharing%2Freference%2Fsend-dialog&app_id=123456789”>Messenger</a>
      </div> #}
      <div class="sns__button sns__button--padding-top">
        <a class="twitter-share-button"
          href="https://twitter.com/intent/tweet?text={{contents.description}}">Tweet</a>
      </div>
      {%- if lang == 'ja' or lang == 'id' %}
      <div class="sns__button sns__button--padding-top">
        <div class="line-it-button"
          data-lang="{{lang}}"
          data-type="share-a"
          data-url="{{info.url}}{% if lang != 'ja' %}/{{lang}}{% endif %}"
          style="display: none;">
        </div>
        <script src="https://d.line-scdn.net/r/web/social-plugin/js/thirdparty/loader.min.js" async="async" defer="defer"></script>
      </div>
      {%- endif %}
      {%- if lang == 'ru' %}
      <div class="sns__button sns__button--padding-top">
        <script type="text/javascript">
          document.write(VK.Share.button({url: "{{info.url}}{% if lang != 'ja' %}/{{lang}}{% endif %}"},{type: "round", text: "Share"}));
        </script>
      </div>
      <div class="sns__button sns__button--padding-top" id="ok_shareWidget"></div>
      <script>
      !function (d, id, did, st, title, description, image) {
        var js = d.createElement("script");
        js.src = "https://connect.ok.ru/connect.js";
        js.onload = js.onreadystatechange = function () {
        if (!this.readyState || this.readyState == "loaded" || this.readyState == "complete") {
          if (!this.executed) {
            this.executed = true;
            setTimeout(function () {
              OK.CONNECT.insertShareWidget(id,did,st, title, description, image);
            }, 0);
          }
        }};
        d.documentElement.appendChild(js);
      }(document,"ok_shareWidget","{{info.url}}{% if lang != 'ja' %}/{{lang}}{% endif %}",'{"sz":20,"st":"rounded","nt":1}',"","","");
      </script>
      {%- endif %}
      <div class="sns__button sns__button--padding-top">
        <div class="g-plus"
          data-action="share"
          data-href="{{info.url}}{% if lang != 'ja' %}/{{lang}}{% endif %}">
        </div>
      </div>
    </div>
  </div>
  <div class="footer">
    <footer>
      <p><a href="/privacy">Privacy Policy</a> | <a href="/contact">Contact Us</a></p>
      <p>&copy; 2017 ENICY.</p>
    </footer>
  </div>
</body>

</html>
