{% extends "base.html" %}
{% block title %}Privacy Policy | {{info.name}}{% endblock title %}
{% block content %}
<section class="policy contents-width">
  <h2>プライバシーポリシー</h2>
  <p>ENICY は，本ウェブサイト上で提供するサービス (以下，「本サービス」といいます。) におけるプライバシー情報の取り扱いについて，以下の通りプライバシーポリシー (以下，「本ポリシー」といいます。) を定めます。</p>
  <h3>第１条（プライバシー情報）</h3>
  <ol>
    <li>プライバシー情報のうち「個人情報」とは，個人情報保護法にいう「個人情報」を指すものとし，生存する個人に関する情報であって，当該情報に含まれる氏名，生年月日，住所，電話番号，連絡先その他の記述等により特定の個人を識別できる情報を指します。</li>
    <li>プライバシー情報のうち「履歴情報および特性情報」とは，上記に定める「個人情報」以外のものをいい，ご利用いただいたサービスやご覧になったページ，ユーザーが検索された検索キーワード，ご利用日時，ご利用の方法，ご利用環境，ユーザーの IP アドレス，クッキー情報，位置情報，端末の個体識別番号などを指します。</li>
  </ol>
  <h3>第２条（プライバシー情報の収集方法）</h3>
  <p>ENICY は，ユーザーが本サービスを利用する際にユーザーのアカウント ID 情報，パスワードをお尋ねします。また，閲覧したページや利用日時，利用方法，利用環境（携帯端末を通じてご利用の場合の当該端末の通信状態，利用に際しての各種設定情報なども含みます），IPアドレス，クッキー情報，位置情報，端末の個体識別情報などの履歴情報および特性情報を，ユーザーがページを閲覧する際に収集します。</p>
  <h3>第３条（個人情報を収集・利用する目的）</h3>
  <p>ENICY が個人情報を収集・利用する目的は，以下のとおりです。</p>
  <ol>
    <li>ユーザーが簡便にデータを入力できるようにするために，本サービスに登録されている情報を入力画面に表示させたり，ユーザーのご指示に基づいて他のサービスなど（提携先が提供するものも含みます）に転送したりする目的</li>
    <li>第三者に損害を発生させたりするなど，本サービスの利用規約に違反したユーザーや，不正・不当な目的でサービスを利用しようとするユーザーの利用をお断りするために，利用態様，氏名や住所など個人を特定するための情報を利用する目的</li>
    <li>ユーザーからのお問い合わせに対応するために，お問い合わせ内容に関する情報など ENICY がユーザーに対してサービスを提供するにあたって必要となる情報や，ユーザーのサービス利用状況，連絡先情報などを利用する目的</li>
    <li>上記の利用目的に付随する目的</li>
  </ol>
  <h3>第４条（個人情報の第三者提供）</h3>
  <p>ENICY は，あらかじめユーザーの同意を得ることなく，第三者に個人情報を提供することはありません。ただし，個人情報保護法その他の法令で認められる場合を除きます。</p>
  <h3>第５条（個人情報の開示）</h3>
  <p>履歴情報および特性情報などの個人情報以外の情報については，原則として開示いたしません。</p>
  <h3>第６条（個人情報の訂正および削除）</h3>
  <p>ユーザーは，ENICY の保有する自己の個人情報が誤った情報である場合には，ENICY が定める手続きにより，ENICY に対して個人情報の訂正または削除を請求することができます。</p>
  <p>ENICY は，ユーザーから前項の請求を受けてその請求に応じる必要があると判断した場合には，遅滞なく，当該個人情報の訂正または削除を行い，これをユーザーに通知します。</p>
  <h3>第７条（プライバシーポリシーの変更）</h3>
  <ol>
    <li>本ポリシーの内容は，ユーザーに通知することなく，変更することができるものとします。</li>
    <li>ENICY が別途定める場合を除いて，変更後のプライバシーポリシーは，本ウェブサイトに掲載したときから効力を生じるものとします。</li>
  </ol>
  <h3>第８条（お問い合わせ窓口）</h3>
  <p>本ポリシーに関するお問い合わせは，下記の窓口までお願いいたします。</p>
  <p>メールアドレス： multidirection@gmail.com</p>
</section>
{% endblock %}
